* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f0f0f0;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 20px;]
}

h3 {
	font-size: 15px;
}

/* Bagian header */
.header {
	background: #d01313;
	margin-bottom: 8px;
	padding: 16px 0;
}

.navbar-drawer,
.header-title {
	display: inline-block;
}

.navbar-drawer {
	margin: 8px 16px;
}

.header-title {
	color: white;
}

.navbar-drawer span {
	background:white;
	display:block;
	margin: 4px;
	height: 3px;
	width: 20px;
}

/* Bagian content */
.content{
	text-align: center;
}

.content-container {
	background: #ffffff;
	display: inline-block;
	margin: 8px auto;
	max-width: 400px;
	min-height: 103px;
	padding: 16px;
	text-align: left;
}

.content-main {
	display: inline-block;
}

.content-title-divider {
	background: #d01313;
	display: block;
	height: 2px;
	margin-bottom: 16px;
	margin-top: 8px;
	width: 100%;
}

.content-logo {
	display: inline-block;
	height: 50px;
	margin-right: 8px;
	width: 50px;
}

.content-desc {
	font-size: 12px;
}

.btn-link {
	border-radius: 5px;
	color: #d01313;
	font-size: 12px;
	height: 36px;
	margin-top: 8px;
	transition: background 0.6s, color 0.6s;
	text-align: center;
	line-height: 36px;
	text-decoration: none;
	width: 70px;
}

.btn-link:hover {
	background: #d01313;
	color: #ffffff;
}

/* Bagian footer */
.footer {
	background: #d01313;
	margin-top: 8px;
	padding: 16px 0;
}

.copyright-footer {
	color: #ffffff;
	font-size: 10px;
	line-height: 24px;
	margin-left: 16px;
}

.sosmed-link {
	margin-left: auto;
	margin-right: 16px;
}

.sosmed-link a,
.sosmed-link a img {
	height: 24px;
	width: 24px;
}

.sosmed-link a:first-child {
	margin-right: 16px;
}

/* Utility */
.flex {
	display: flex;
}

.right {
	float: right;
}

.header,
.footer {
	width: 100%;
}

#navbar-drawer {
	cursor: pointer;
}
