* {
	margin: 0;
	padding: 0;
	-webkit-transition: 0.4s -webkit-filter linear;
	-moz-transition: 0.4s -moz-filter linear;
	-moz-transition: 0.4s filter linear;
	-ms-transition: 0.4s -ms-filter linear;
	-o-transition: 0.4s -o-filter linear;
	transition: 0.4s filter linear, 0.4s -webkit-filter linear;
}

body {
	background-color: #f0f0f0;
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1,
.navbar-item a {
	font-size: 25px;
}

h2 {
	font-size: 20px;]
}

h3 {
	font-size: 15px;
}

/* Bagian header */
.header {
	background: #fb2b20;
	box-sizing: border-box;
	min-height: 85px;
	padding: 16px 0;
}

.navbar-drawer,
.header-title {
	display: inline-block;
}

.navbar-drawer {
	margin: 8px 16px;
	transition: all 0.4s;
}

.header-title {
	color: white;
}

.navbar-drawer span {
	background:white;
	display:block;
	margin: 4px;
	height: 3px;
	width: 20px;
}

/* Bagian navbar */
.navbar {
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: -300px;
	position: fixed;
	top: 0;
	transition: all 0.4s;
	width: 300px;
	z-index: 2;
}

.navbar .navbar-open {
	left: 0;
}

.navbar-header {
	background: #fb2b20;
	box-sizing: border-box;
	color: #ffffff;
	min-height: 85px;
	padding: 16px;
}

.navbar-content {
	background: #ffffff;
	flex-grow: 1;
}

.navbar-list {
	text-decoration: none;
}

.navbar-item {
	border-bottom: 1px solid #fc6203;
	padding: 16px;
	transition: all 0.3s;
}

.navbar-item:hover {
	cursor: pointer;
}

.navbar-item:active,
.navbar-item:hover {
	background: #fc6203;
	color: #ffffff;
}

.navbar-item a {
	color: #000000 !important;
}

/* Bagian content */
.content-container {
	background: #ffffff;
	margin: 16px auto;
	max-width: 400px;
	min-height: 103px;
	padding: 16px;
	position: relative;
}

.content-main {
	display: inline-block;
}

.content-title-divider {
	background: #fc6203;
	display: block;
	height: 2px;
	margin-bottom: 16px;
	margin-top: 8px;
	width: 100%;
}

.content-logo {
	display: inline-block;
	height: 50px;
	margin-right: 8px;
	width: 50px;
}

.content-desc {
	font-size: 12px;
}

.btn-link {
	background: #ebc626;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 12px;
	height: 36px;
	margin-top: 8px;
	transition: all 0.3s;
	text-align: center;
	line-height: 36px;
	width: 70px;
}

.btn-link:active,
.btn-link:hover {
	background: #ffffff;
	border: 1px solid #ebc626;
	color: #ebc626;
}

/* Bagian footer */
.footer {
	background: #fb2b20;
	padding: 16px 0;
}

.copyright-footer {
	color: #ffffff;
	font-size: 10px;
	line-height: 24px;
	margin-left: 16px;
}

.sosmed-link {
	margin-left: auto;
	margin-right: 16px;
}

.sosmed-link a,
.sosmed-link a img {
	height: 24px;
	width: 24px;
}

.sosmed-link a:first-child {
	margin-right: 16px;
}

/* Utility */
.flex {
	display: flex;
}

.right {
	float: right;
}

.header,
.footer {
	width: 100%;
}

.blur {
	-webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}

.link {
	color: #ffffff;
	text-decoration: none;
}

#navbar-drawer {
	cursor: pointer;
}
