* {
	margin: 0;
	padding: 0;
	-webkit-transition: 0.4s -webkit-filter linear;
	-moz-transition: 0.4s -moz-filter linear;
	-moz-transition: 0.4s filter linear;
	-ms-transition: 0.4s -ms-filter linear;
	-o-transition: 0.4s -o-filter linear;
	transition: 0.4s filter linear, 0.4s -webkit-filter linear;
}

body {
	background-color: #f0f0f0;
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 20px;]
}

h3 {
	font-size: 15px;
}

/* Header */
.header {
	max-width: 100%;
	min-width: 100%;
	padding-bottom: 16px;
	padding-top: 8px;
	text-align: center;
}

.header-brand {
	text-align: center;
}

.btn-header {
	display: inline-block;
	margin-top: 8px;
}

/* Quote Section */
.quote-header {
	background: #ffffff;
	padding: 32px;
}

.quote {
	font-style: italic;
	text-align: center;
}

.quote-src {
	margin-top: 16px;
	text-align: right;
}

/* About */
.about {
	padding: 16px 16px 32px;
}

.about-content {
	margin-top: 16px;
}

.quote-about {
	margin-top: 16px;
}

/* Bagian content */
.content-container {
	background: #ffffff;
	margin: 16px auto;
	min-height: 103px;
	padding: 16px;
}

.content-main {
	display: inline-block;
}

.content-title-divider {
	background: #fc6203;
	display: block;
	height: 2px;
	margin-bottom: 16px;
	margin-top: 8px;
	width: 100%;
}

.content-logo {
	display: inline-block;
	height: 50px;
	margin-right: 8px;
	width: 50px;
}

.btn-github {
	display: inline-block;
	float: right;
	margin-top: 16px;
}

/* Bagian footer */
.footer {
	background: #fb2b20;
	padding: 16px 0;
}

.copyright-footer {
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	margin-left: 16px;
}

.sosmed-link {
	margin-left: auto;
	margin-right: 16px;
}

.sosmed-link a,
.sosmed-link a img {
	height: 24px;
	width: 24px;
}

.sosmed-link a:first-child {
	margin-right: 16px;
}

.primary-bg {
	background: #fb2b20;
}

.accent-bg {
	background: #ebc626;
}

.white-col {
	color: #ffffff;
}

.btn {
	border: 1px solid #ffffff;
	border-radius: 15px;
	padding: 12px;
	text-decoration: none;
	color: #ffffff;
}

.wrapper {
	max-width: 480px;
	margin: 0 auto;
}

.flex {
	display: flex;
}
