* {
    margin: 0;
    padding: 0;
}

h1, li, p, a {
}

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
    font-style: none;
    color: white;
}

header {
    text-align: center;
    height: 125px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 100%;
    clear: both;
}

.red-box {
    color: white;
    background-color: #f41b39;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    margin-top: 16px;
}

.nav-menu {
    display: inline-block;
    font-size: 20px;
}

.nav-menu a {
    margin: 0 5px;
    padding: 10px;
}

.nav-menu a:hover {
    color: #f41b39;
    background-color: white;
}

.judul {
    font-size: 40px;
    padding-top: 16px;
}

.footer-text {
    margin-top: 30px;
}

.content {
    width: 70%;
    margin: 30px auto;
}

.android {
    width: 100%;
    height: 120px;
}

.logo-android {
    width: 80px;
    height: 80px;
    margin: 20px 15px;
    float: left;
}

.android h2 {
    float: left;
    display: inline-block;
    margin-top: 45px;
    font-size: 20px;
}

.desktop {
    width: 235px;
    height: 211px;
    display: inline-block;
}

.desktop:nth-child(2) {
    margin: 0 25px;
}

.desktop h2 {
    text-align: center;
    font-size: 20px;
}

.logo {
    width: 75px;
    height: 75px;
    margin: 10px 85px;
}

.right {
    float: right;
}

.left {
    float: left;
}
