$PRIMARY_COLOR: #BB1F1F;
$PRIMARY_TITLE: 42px;
$SECTION_TITLE: 30px;
$PRODUCT_TITLE: 24px;
$SCREEN_PADDING: 85px;
$VERTICAL_PADDING: 24px;
$IMAGE_SIZE: 100px;
$SOCIAL_IMAGE_SIZE: 48px;

html, body {
  height: 100vh;
  max-height: 100vh;
  font-family: Rubik, 'Segoe UI', sans-serif;
}

body {
  display: flex;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: $PRIMARY_TITLE;
}

h2 {
  font-size: $SECTION_TITLE;
  text-transform: uppercase;
}

h3 {
  font-size: $PRODUCT_TITLE;
  letter-spacing: 0.1em;
}

.profile, .content {
  box-sizing: border-box;
}

.profile {
  background: $PRIMARY_COLOR;
  width: 40%;
  max-width: 40%;
  position: fixed;
  height: 100%;
  color: white;
  display: flex;
  padding-right: $SCREEN_PADDING;
  padding-left: $SCREEN_PADDING;

  div {
    margin: auto;
  }

  h1 {
    letter-spacing: 0.05em;
  }

  .subtitle {
    letter-spacing: 0.2em;
    font-size: 24px;
    margin-top: 8px;
  }

  .description {
    line-height: 36px;
    font-size: 24px;
    margin-top: 32px;
  }

  a {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 36px;
    color: $PRIMARY_COLOR;
    text-decoration: none;
    background-color: white;
    padding: 15px;
    margin-top: 54px + 15px;
    border-radius: 8px;
    text-transform: uppercase;
    display: inline-block;
  }
}

.content {
  padding-right: $SCREEN_PADDING;
  padding-left: $SCREEN_PADDING;
  margin-left: 40%;

  div {
    margin: auto;
  }

  .project {
    margin-top: $VERTICAL_PADDING;

    .product {
      display: flex;
      margin-top: 16px;

      .product-image {
        width: $IMAGE_SIZE;
        height: $IMAGE_SIZE;
      }

      .description {
        margin-left: 32px;
      }

      p {
        font-size: 14px;
        margin-top: 8px;
        line-height: 27px;
      }
    }
  }

  .contact {
    margin-top: 32px;
    margin-bottom: $VERTICAL_PADDING;

    .social {
      margin-top: 24px;
      display: flex;
      
      img {
        width: $SOCIAL_IMAGE_SIZE;
        height: $SOCIAL_IMAGE_SIZE;
        margin-left: 42px;
      }
    }
  }
}

@media only screen and (max-width: 1155px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .profile {
    padding-right: 60px;
    padding-left: 60px;

    a {
      padding: 12px;
    }

    .subtitle, .description, a {
      font-size: 18px;
    }
  }

  .content {
    padding-right: 60px;
    padding-left: 60px;

    .project {
      .product {
        .product-image {
          width: 72px;
          height: 72px;
        }
      }
    }

    .contact {
      .social {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

@media only screen and (max-width: 838px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .profile {
    padding-right: 32px;
    padding-left: 32px;

    a {
      padding: 8px;
    }

    .subtitle, .description, a {
      font-size: 16px;
    }
  }

  .content {
    padding-right: 32px;
    padding-left: 32px;

    .project {
      .product {
        .product-image {
          width: 48px;
          height: 48px;
        }
      }
    }

    .contact {
      .social {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 684px) {
  h1 {
    font-size: $PRIMARY_TITLE;
  }

  h2 {
    font-size: $SECTION_TITLE;
  }

  h3 {
    font-size: $PRODUCT_TITLE;
  }

  body {
    display: block;
  }

  .profile {
    position: static;
    width: 100%;
    max-width: 100%;
    padding-right: 32px;
    padding-left: 32px;

    a {
      padding: 15px;
    }

    .subtitle, .description, a {
      font-size: 24px;
    }
  }

  .content {
    margin-left: 0px;
    padding-right: 32px;
    padding-left: 32px;

    .project {
      .product {
        .product-image {
          width: 72px;
          height: 72px;
        }
      }
    }

    .contact {
      .social {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}